.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}

.update-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;

  &__more {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
  }
}
