.news-item {
  display: flex;
//   align-items: self-start;

  &__date {
    display: flex;
    width: 162px;
    color: #8d8d8d;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }
  
}
