@import "../../../../scss/index.scss";

.news-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $white;
  padding: 16px;
  border-radius: 16px;

  &__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
  }
  
}
